.percentage-bar {
  --darken: 0.5;
  --font-size: 0.75rem;
  --height: 1.5rem;
  --width: 4rem;

  height: var(--height);
  position: relative;
  width: var(--width);
}

.percentage-bar::after {
  color: #fff;
  content: var(--label);
  font-size: var(--font-size);
  font-weight: lighter;
  left: calc(50% - (var(--font-size) * 0.75));
  position: absolute;
  top: calc(50% - (var(--font-size) * 0.55));
}

.percentage-bar::-webkit-meter-bar {
  background: linear-gradient(rgba(0, 0, 0, var(--darken)), rgba(0, 0, 0, var(--darken))),
    var(--fill);
  border-radius: 0;
  height: var(--height) !important;
}

.percentage-bar::-webkit-meter-optimum-value {
  background: var(--fill);
}
