.resist-profile__hp-display-toggle {
  margin: 0 0.25rem;
}

.resist-profile__table-caption {
  text-align: left;
}

.resist-profile__icon {
  width: 1.5rem;
}

.resist-profile__detail {
  font-size: 0.75rem;
  font-weight: 400;
}
